<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>لیست وظایف</title>
    <!-- bootstrap links -->
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <!-- my css -->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <!-- sweet alert -->
    <link rel="stylesheet" href="../node_modules/sweetalert2/dist/sweetalert2.min.css">
    <!-- vue js cdn -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body class="bg_dark">
    <section class="container" id="root">
      <header
        id="header"
        :class="{dark_header:!application_mode,light_header:application_mode}"
        class="text-center d-md-flex justify-content-md-between"
      >
        <a href="" :class="{dark_a:!application_mode,light_a:application_mode}"
          >Omid4444</a
        >
        <h1>لیست وظایف</h1>
        <!-- go to light mode -->
        <a
          v-show="!application_mode"
          @click="change_application_mode"
          :class="{dark_a:!application_mode,light_a:application_mode}"
        >
          <svg
            fill="currentColor"
            class="bi bi-cloud-moon-fill icon"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.473 11a4.5 4.5 0 0 0-8.72-.99A3 3 0 0 0 3 16h8.5a2.5 2.5 0 0 0 0-5h-.027z"
            />
            <path
              d="M11.286 1.778a.5.5 0 0 0-.565-.755 4.595 4.595 0 0 0-3.18 5.003 5.46 5.46 0 0 1 1.055.209A3.603 3.603 0 0 1 9.83 2.617a4.593 4.593 0 0 0 4.31 5.744 3.576 3.576 0 0 1-2.241.634c.162.317.295.652.394 1a4.59 4.59 0 0 0 3.624-2.04.5.5 0 0 0-.565-.755 3.593 3.593 0 0 1-4.065-5.422z"
            />
          </svg>
        </a>
        <!-- go to dark mode -->
        <a
          v-show="application_mode"
          @click="change_application_mode"
          :class="{dark_a:!application_mode,light_a:application_mode}"
        >
          <svg
            fill="currentColor"
            class="bi bi-cloud-sun-fill icon"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.473 11a4.5 4.5 0 0 0-8.72-.99A3 3 0 0 0 3 16h8.5a2.5 2.5 0 0 0 0-5h-.027z"
            />
            <path
              d="M10.5 1.5a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0v-1zm3.743 1.964a.5.5 0 1 0-.707-.707l-.708.707a.5.5 0 0 0 .708.708l.707-.708zm-7.779-.707a.5.5 0 0 0-.707.707l.707.708a.5.5 0 1 0 .708-.708l-.708-.707zm1.734 3.374a2 2 0 1 1 3.296 2.198c.199.281.372.582.516.898a3 3 0 1 0-4.84-3.225c.352.011.696.055 1.028.129zm4.484 4.074c.6.215 1.125.59 1.522 1.072a.5.5 0 0 0 .039-.742l-.707-.707a.5.5 0 0 0-.854.377zM14.5 6.5a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"
            />
          </svg>
        </a>
      </header>

      <main class="row" id="main_content">
        <!-- buttons -->
        <div class="col-12">
          <ul>
            <li
              v-for="option in options"
              :class="{active_item:check_selected_item(option.id)}"
            >
              <a
                @click="change_selected_item(option.id)"
                :class="{main_content_dark_a:!application_mode,main_content_light_a:application_mode}"
                >{{ option.name }}</a
              >
            </li>
          </ul>
        </div>
        <!-- new item -->
        <div v-if="selected_option == 0" id="todoListContent" class="col-12">
          <form @submit.prevent="{handle_form}">
            <button id="btn_submit" class="btn" type="submit">
                <svg fill="currentColor" class="bi bi-patch-plus-fill icon" viewBox="0 0 16 16">
                    <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
                  </svg>
            </button>
            <input type="text" @change="handle_input" v-model="work_input" name="txt_work" id="txt_work" class="w-75" :class="{dark_input:!application_mode,light_input:application_mode,danger_input:error}">
          </form>
          <span v-if="error" class="alert alert-danger p-1">{{ error }}</span>

          <div v-show="work_input" id="test_value" class="mt-5">
            <div class="first_child">
              <span>{{ work_input }}</span>
            </div>       
            <div class="second_child">
              <span>وضعیت: </span>
              <label for="txt_status">انجام شده</label>
              <input type="checkbox" id="txt_status" name="txt_status" @change="change_status_input" :checked="txt_status?true:false" class="form-check-input">
            </div>
          </div>
        </div>

        <!-- all -->
        <div v-if="selected_option=== 1" id="show_content">
         <h3 :class="{dark_a:!application_mode,light_a:application_mode,show_content_h3_dark:!application_mode,show_content_h3_light:application_mode}">لیست کارها</h3>
          <main id="content">
           <div v-if="todoList" v-for="todoItems in todoList" class="items">
            <h5>{{ todoItems.name }}</h5>
            <span>تاریخ: {{ todoItems.time[0]+'/'+todoItems.time[1]+'/'+todoItems.time[2] }}</span>
            <div class="second_child">
              <div class="mx-2">
                <span>وضعیت: </span>
                <label for="txt_status">انجام شده</label>
                <input type="checkbox" id="txt_status" @change="change_data_status(todoItems.id)" name="txt_status" :checked="todoItems.status ? true:false" class="form-check-input">
              </div>
              <div class="mx-2">
                <button @click="delete_data(todoItems.id)" class="btn btn-danger">حذف</button>
              </div>
            </div>
           </div>
          </main>
          <span v-show="todoList.length <= 0 ? true:false" class="alert alert-danger p-1">
            هیچ اطلاعاتی برای نمایش وجود ندارد...
           </span>
        </div>


                <!-- search -->
                <div v-if="selected_option=== 2" id="search_content">
                  <div :class="{dark_a:!application_mode,light_a:application_mode,search_content_div_dark:!application_mode,search_content_div_light:application_mode}">سرچ: 
                    <input type="text" v-model="search_box" name="search_box" id="search_box" class="w-75" :class="{dark_input:!application_mode,light_input:application_mode,danger_input:error}">
                  </div>              
                   <main id="content">
                    <div v-if="todoList" v-for="todoItems in handle_search" class="items">
                     <h5>{{ todoItems.name }}</h5>
                     <span>تاریخ: {{ todoItems.time[0]+'/'+todoItems.time[1]+'/'+todoItems.time[2] }}</span>
                     <div class="second_child">
                       <div class="mx-2">
                         <span>وضعیت: </span>
                         <label for="txt_status">انجام شده</label>
                         <input type="checkbox" id="txt_status" @change="change_data_status(todoItems.id)" name="txt_status" :checked="todoItems.status ? true:false" class="form-check-input">
                       </div>
                       <div class="mx-2">
                         <button @click="delete_data(todoItems.id)" class="btn btn-danger">حذف</button>
                       </div>
                     </div>
                    </div>
                   </main>
                   <span v-show="todoList.length <= 0 ? true:false" class="alert alert-danger p-1">
                     هیچ اطلاعاتی برای نمایش وجود ندارد...
                    </span>
                 </div>
      </main>
    </section>

    <!-- bootstrap js -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- custom js -->
    <script src="../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <!-- date -->
    <script src="../assets/js/converter.js"></script>
    <!-- application js -->
    <script src="../assets/js/app.js"></script>
  </body>
</html>
